<h1>Edit user</h1>
<form action="/save/users" method="POST">
    <div class="form-group">
        <input type="hidden" name="id" value="{{user.dataValues.id}}" />
    </div>
    <div class="form-group">
        <label>Name</label><br>
        <input name="name" value="{{user.dataValues.name}}"  class="field" />
    </div>
    <div class="form-group">
        <label>Age</label><br>
        <input name="age" type="number" min="1" max="110" value="{{user.dataValues.age}}" class="field" />
    </div>
    <div class="form-group">
        <label>Additional_Info</label><br>
        <input name="additional_info" value="{{user.dataValues.additional_info}}" class="field" />
    </div>
    <div class="form-group">
        <input type="submit" value="Submit"  class="btn btn-success"/>
    </div>
</form>
<a href="/" class="btn btn-primary">To all</a>
